vendor
*.sw?
Vagrantfile.bak
*~
*#
*.bak
*.iml
.idea
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
lib/bundler/man
pkg
rdoc
*/test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
.vagrant
.project
.tmp/
.librarian/
